body {
    color: black;
    background: lightskyblue;
}
h1, h2, h3{
    color: purple;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
thead{
    background: cornsilk;
}
tbody{
    color: lightgreen;
}
div {
    text-align: center;
}
